###############################
## DO NOT ADD IGNORE HERE
## PLEASE ADD in .gitignore.tpl
public
themes

content/api/_index.fr.md

###############################

# Add from make generate-cities-content
content/villes/montpellier-fr

# Add from make generate-cities-content
content/villes/brest-fr

# Add from make generate-cities-content
content/villes/paris-saclay-fr

# Add from make generate-cities-content
content/villes/nantes-metropole-fr

# Add from make generate-cities-content
content/villes/mons-be

# Add from make generate-cities-content
content/villes/vallee-sud-grand-paris-fr

# Add from make generate-cities-content
content/villes/agglomeration-troyenne-fr

# Add from make generate-cities-content
content/villes/aix-marseille-provence-metropole-fr

