## Les 10 dernières observations

{{ $api   := (.Get 0) }}
{{ $scope := (.Get 1) }}

{{ $endpoint := add $api "/get_issues.php?count=10" }}
{{ if $scope }}
    {{ $endpoint = add $endpoint $scope }}
{{ end }}

{{ $issues := getJSON $endpoint }}

| Adresse | Commentaire | Liens |
| ----- | ------- | ----------- |
{{- range $issues }}
| {{ .address }} | {{ .comment }} | [Photo]({{ $api }}/generate_panel.php?token={{ .token }}) - [Observations similaires]({{ $api }}/mosaic.php?t={{ .token }}) |
{{- end }}
