<iframe width="100%" height="500px" frameborder="0" allowfullscreen
        src="https://umap.openstreetmap.fr/fr/map/vigilo_{{ .Get 0 }}?scaleControl=false&miniMap=false&scrollWheelZoom=true&zoomControl=true&allowEdit=false&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=none&captionBar=false#11/{{ .Get 1 }}/{{ .Get 2 }}">
</iframe>
<p>
  <a href="https://umap.openstreetmap.fr/fr/map/vigilo_{{ .Get 0 }}">
    Voir en plein écran
  </a>
</p>
